<template>
  <div class="navbar">
    <router-link class="btn" to="/">Home</router-link>
    <router-link class="btn" to="/about">About</router-link>
    <router-link class="btn" to="/kofi">Ko-Fi</router-link>
    <router-link class="btn" to="/spotify">Spotify</router-link>
  </div>
</template>
