<template>
  <div id="app">
    <Hero/>
    <router-view></router-view>
  </div> 
</template>
<script lang="ts">
import Vue from 'vue';
import Hero from './components/Hero.vue';
export default Vue.extend({
  
})
</script>
