@import "normalize";
@import "ayu-colors";

@include normalize();

@import url('https://fonts.googleapis.com/css?family=DM+Sans|Nothing+You+Could+Do|Rock+Salt&display=swap');
html {
  background: $common-bg;
  font-family: 'DM Sans', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
p {
  color: $common-fg;
}
.hero {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  min-height: 25em;
  background: url('/img/back.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.hero > h1 {
  font-family: 'Rock Salt', cursive;
  align-self: flex-end;
  text-align: center;
  color: adjust-color($common-fg, $alpha: -0.3);
  text-shadow: 0 0 5px $common-bg, 0 0 5px $common-bg, 0 0 5px $common-bg, 0 0 5px $common-bg;
  font-size: 3.5em;
  font-weight: lighter;
}

.navbar {
  display: flex;
  background: adjust-color($ui-panel-bg, $alpha: -0.3);
  border-bottom: 2px solid adjust-color($ui-line, $alpha: -0.3);
  text-align: center;
  width: 100%;
  // position: absolute;
  // bottom: 0;
  -webkit-user-select: none;
  user-select: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-end
}

.btn {
  background: $ui-gutter-normal;
  color:white;
  padding: 1em;
  display: block;
  margin: 0;
}

.btn:hover {
  background: $ui-gutter-active;
}

.navbar > .btn {
  background: transparent;
  border-bottom: 2px solid $ui-guide-nromal;
}

.navbar >.btn:hover {
  background: transparent;
  border-bottom: 2px solid $ui-guide-active;
}
.navbar >.btn.active {
  background: transparent;
  border-bottom: 2px solid $ui-guide-active;
}
a{
  text-decoration: none;
}
